:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.title {
  color: rgb(249, 219, 79);
}

.form-input-field {
  padding: 10px;
}

.form-label {
  padding-right: 10px;
  font-size: 21px;
}

.form-input {
  padding: 5px;
  font-size: 18px;
  border-width: 0px;
  border-style: solid;
  border-radius: 9px;
  box-shadow: 0px 0px 4px rgba(66, 66, 66, 0.41);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
}

.btn {
  margin-top: 10px;
  font-size: 20px;
  color: rgb(249, 219, 79);
  background-color: #242424;
}

.result {
  font-size: 30px;
  padding-top: 20px;
}

.price {
  color: rgb(249, 219, 79);
  font-weight: bold;
  cursor: pointer;
  /* position: relative; */
}

.price:hover {
  color: rgb(248, 202, 0);
}

.price:active {
  color: rgb(247, 211, 49);
}

.copied {
  font-size: 12px;
  color: #f9f9f9;
  margin-left: 10px;
  position: relative;
  left: 180px;
  display: none;
}

.logo {
  width: 320px;
}
